<ion-view title="Contacts" id="page1">
  <ion-content padding="true" class="has-header">
    <form id="contacts-form1" class="list">
      <label class="item item-input" id="contacts-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
      <ion-item class="item-avatar" id="contacts-list-item19" ui-sref="911()">
        <img src="img/ax8qeD1Qg6JLMqvBnVm0_911.jpg">
        <h2>911</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item20" ui-sref="miguelTongol()">
        <img src="img/vu11WgdQiCkJPfprYdye_fuckboy.png">
        <h2>Miguel Tongol</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item21" ui-sref="dean()">
        <img src="img/o4aYIvkwQaWXOpfe3OKh_vape.png">
        <h2>Dean</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item22" ui-sref="msBeth()">
        <img src="img/JPdQ8XuHTs6y3hNxRl2C_teacher.png">
        <h2>Ms. Beth</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item23" ui-sref="dad()">
        <img src="img/psscijvQtu7kdSCavme7_dad.png">
        <h2>Dad</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item24" ui-sref="paulvoron()">
        <img src="img/Me7qB68IQ36swUC8SSQG_PUBG.PNG">
        <h2>Paulvoron</h2>
      </ion-item>
    </form>
  </ion-content>
</ion-view>