<ion-view title="Miguel Tongol" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="miguelTongol-list7">
      <ion-item class="item-thumbnail-left" id="miguelTongol-list-item35">
        <img src="img/AOeRrZOdSpW6zeKXoia5_fuckboy.png">
      </ion-item>
    </ion-list>
    <div id="miguelTongol-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">mobile</p>
    </div>
    <h1 id="miguelTongol-heading2" style="color:#000000;">0936 864 6917</h1>
  </ion-content>
</ion-view>