<ion-view title="Ms Beth" id="page5">
  <ion-content padding="true" class="has-header">
    <ion-list id="msBeth-list9">
      <ion-item class="item-thumbnail-left" id="msBeth-list-item37">
        <img src="img/OwKy6VRb6BjahmnIKPtQ_teacher.png">
      </ion-item>
    </ion-list>
    <div id="msBeth-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#000000;">mobile</p>
    </div>
    <h1 id="msBeth-heading4" style="color:#000000;">0917 646 6460</h1>
  </ion-content>
</ion-view>