<ion-view title="Paulvoron" id="page7">
  <ion-content padding="true" class="has-header">
    <ion-list id="paulvoron-list11">
      <ion-item class="item-thumbnail-left" id="paulvoron-list-item39">
        <img src="img/Xk9PCJf5R4Sngpozu7yW_PUBG.PNG">
        <h2>I</h2>
      </ion-item>
    </ion-list>
    <div id="paulvoron-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#000000;">mobile</p>
    </div>
    <h1 id="paulvoron-heading6" style="color:#000000;">0916 475 1193</h1>
  </ion-content>
</ion-view>